@charset "UTF-8";
* {
    outline: 0 none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
img {
    border: 0 none;
    vertical-align: top;
}
i, em {
    font-style: normal;
}
ol, ul {
    list-style: none outside none;
}
input, select, button, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:visited {
    color: #333;
    text-decoration: none;
}
body {
    -moz-user-select: none;
    background: none repeat scroll 0 0 #fff;
    color: #666;
    font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Arial;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
}
.hide, .h {
    display: none !important;
}
.show {
    display: block !important;
}
.link_blue {
    color: #007aff;
}
.wx_bar_back a:after, .wx_backtop:after, .wx_bar_new:after, .wx_bar_best:before {
    content: " ";
    display: block;
}
.wx_bar {
    background-color: #efefef;
    border-bottom: 1px solid #ddd;
    line-height: 44px;
    min-height: 44px;
    position: relative;
    width: 100%;
}
.wx_bar_fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 30;
}
.wx_bar_tit {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    text-align: center;
    width: 100%;
}
.wx_bar_back {
    height: 45px;
    position: absolute;
    width: 50px;
}
.wx_bar_back a {
    display: block;
    height: 100%;
    overflow: hidden;
}
.wx_bar_back a:after {
    background-position: 0 0;
    display: block;
    height: 25px;
    margin: 10px 0 0 10px;
    width: 25px;
}
.wx_bar_back a:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.wx_bar_act {
    height: 45px;
    position: absolute;
    right: 0;
    top: 0;
}
.wx_bar_new {
    display: block;
    height: 100%;
    overflow: hidden;
    width: 60px;
}
.wx_bar_new:after {
    background-position: -25px 0;
    display: block;
    float: right;
    height: 25px;
    margin: 10px 15px 0 0;
    width: 25px;
}
.wx_bar_new:active {
    background-color: rgba(0, 0, 0, 0.2);
}
.wx_wrap {
    min-height: 375px;
}
@media only screen and (max-height: 480px) {
.wx_wrap {
    min-height: 360px;
}
}



.wx_bar_back a:after, .wx_backtop:after, .wx_bar_new:after, .wx_bar_best:before {
    background-image: url("/wx/img/common/sprites_v3.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}


.pay_area .action .online {
    background: none repeat scroll 0 0 #e4393c;
    border: 1px solid transparent;
    color: #fff;
}
.pay_area .action .online:active {
    background: none repeat scroll 0 0 #e12326;
}
.pay_area .action .tenpay, .pay_area .action .btn {
    background: none repeat scroll 0 0 #3884ff;
    border: 1px solid transparent;
    color: #fff;
}
.pay_area .action .tenpay:active, .pay_area .action .btn:active {
    background: none repeat scroll 0 0 #1f74ff;
}
.pay_area .action .qq {
    background: none repeat scroll 0 0 #f19325;
    border: 1px solid transparent;
    color: #fff;
}
.pay_area .action .qq:active {
    background: none repeat scroll 0 0 #ed870f;
}

.pay_area .action .wechat {
    background: none repeat scroll 0 0 #67ad03;
    border: 1px solid transparent;
    color: #fff;
}
.pay_area .action .wechat:active {
    background: none repeat scroll 0 0 #589403;
}
.pay_area .action a {
    background: none repeat scroll 0 0 #1bc6c3;
    border: 1px solid transparent;
    color: #fff;
}
.pay_area .action a:active {
    background: none repeat scroll 0 0 #18b0ad;
}
.pay_area .action .wechat_disabled, .pay_area .action .btn_disabled, .pay_area .action .disabled {
    background: none repeat scroll 0 0 #d7d7d7;
    border: 1px solid transparent;
    color: #999;
    cursor: default;
}
.pay_area .action .wechat_disabled span, .pay_area .action .btn_disabled span, .pay_area .action .disabled span {
    color: #e4393c;
    margin-left: 5px;
}
.pay_area .action .wechat_disabled:active, .pay_area .action .btn_disabled:active, .pay_area .action .disabled:active {
    background: none repeat scroll 0 0 #d7d7d7;
}


.appointment_type .date:after, .shipping_type ul:before, .pay_list li:before, .appointment_type ul:before, .invoice_list li:before, .address_list_link .item:after {
    background-image: url("/wx/img/common/sprites_v3.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
.order_info dt, .order_info dt span:first-child, .order_info .message textarea, .total, .address_new p, .pay_area .action a, .page_error .btn {
    box-sizing: border-box;
}
.order_info .hproduct .fn, .fitting_list .fn {
    overflow: hidden;
    text-overflow: ellipsis;
}
.order_info dt:after, .order_info li:after, .address_new .action:after, .shipping_type ul:after, .appointment_type ul:after, .order .order_lst:after, .wx_total:after, .captcha_wrap:after {
    clear: both;
    content: " ";
    display: block;
}
.order_info dt:before, .invoice_list .on dt:after, .address_defalut ul:after, .order_info .return span:after, .order_info .fitting span:after, .order_info .shipping span:after, .order_info .appointment span:after, .order_info .invoice span:after, .address_null h3:after, .order_info .on dt:before, .order_info .order_info_more i:after,  .invoice_list dt:after {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #7d7d7d;
    border-top: 1px solid #7d7d7d;
    content: " ";
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.order_info dt:before, .promo_list .on dt:after,.invoice_list .on dt:after {
    margin-top: -2px;
    transform: rotate(45deg);
}
.address_defalut ul:after,  .order_info .return span:after, .order_info .fitting span:after, .order_info .shipping span:after, .order_info .appointment span:after, .order_info .invoice span:after, .address_null h3:after {
    margin-top: -6px;
    transform: rotate(135deg);
}
.order_info .on dt:before, .order_info .order_info_more i:after, .invoice_list dt:after{
    margin-top: -10px;
    transform: rotate(-135deg);
}

.address_defalut h3, .order_info h3, .pay_type h3, .address_null h3 {
    color: #333;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 0;
}


.wx_wrap {
    padding-bottom: 64px;
    position: relative;
}
.address_defalut {
    border-bottom: 1px solid #cbcbcb;
    padding: 14px 10px 16px 52px;
    position: relative;
}
.address_defalut h3 {
    left: 0;
    padding: 17px 10px;
    position: absolute;
    top: 0;
}
.address_defalut ul {
    padding: 0 40px 0 0;
    position: relative;
}
.address_defalut ul:after {
    right: 10px;
}
.address_defalut li {
    word-break: break-all;
    word-wrap: break-word;
}
.address_defalut .error {
    color: #fc004d;
}
.address_defalut .addr_select {
    margin-left: 0;
}


.order_info {
    padding: 0 10px;
}
.order_info dl {
    border-bottom: 1px dotted #cbcbcb;
}
.order_info dt {
    line-height: 16px;
    padding: 14px 40px 14px 0;
    position: relative;
}
.order_info dt:before {
    right: 10px;
}
.order_info dt span {
    float: left;
    text-align: center;
    width: 30%;
}
.order_info dt span:first-child {
    overflow: hidden;
    padding-right: 5px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40%;
}
.order_info dt span:last-child {
    color: #fc004d;
    text-align: right;
    width: 30%;
}
.order_info dt i {
    color: #fc004d;
    margin: 0 4px;
}
.order_info dd {
    display: none;
}
.order_info .on dd {
    display: block;
}
.order_info .only {
    border-bottom-style: solid;
    padding-top: 15px;
}
.order_info .only dt, .order_info .only .message {
    display: none;
}
.order_info .only dd {
    display: block;
}
.order_info ul {
    margin-bottom: 10px;
}
.order_info li {
    background-color: #f3f3f3;
    border-bottom: 1px solid #fff;
    line-height: 16px;
    padding: 14px 10px;
    position: relative;
}
.order_info .hproduct {
    margin-bottom: 10px;
    min-height: 75px;
    padding: 10px 10px 10px 95px;
    position: relative;
}
.order_info .hproduct .sku {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}
.order_info .hproduct .photo {
    height: 75px;
    left: 10px;
    position: absolute;
    top: 10px;
    width: 75px;
}
.order_info .hproduct .fn {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
}
.order_info .hproduct .fn span {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    margin-right: 5px;
    text-align: center;
    vertical-align: 1px;
    width: 50px;
}
.order_info .hproduct .sku em {
    color: #999;
}
.order_info .hproduct .sku span {
    color: #333;
}
.order_info .hproduct .sku .price {
    color: #e4393c;
}
.order_info .hproduct .sku .empty {
    color: #fc004d;
}
.order_info .hproduct .last {
    margin: 0 10px;
}
.order_info .hproduct .last strong {
    margin: 0 2px;
}
.order_info .hproduct .count {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 18px;
    line-height: normal;
    margin-top: -4px;
    padding: 0;
    text-align: center;
    width: 46px;
}
.order_info .order_info_more {
    margin: 10px 0;
    text-align: center;
}
.order_info .order_info_more i {
    display: inline-block;
    height: 23px;
    margin-left: 10px;
    position: relative;
    vertical-align: middle;
    width: 23px;
}
.order_info .order_info_more i:after {
    height: 10px;
    left: 6px;
    width: 10px;
}
.order_info .promo strong, .order_info .return strong, .order_info .fitting strong, .order_info .shipping strong, .order_info .appointment strong, .order_info .invoice strong {
    float: left;
}
.order_info .promo span, .order_info .return span, .order_info .fitting span, .order_info .shipping span, .order_info .appointment span, .order_info .invoice span {
    float: right;
    padding-right: 20px;
}
.order_info .promo span:after, .order_info .return span:after, .order_info .fitting span:after, .order_info .shipping span:after, .order_info .appointment span:after, .order_info .invoice span:after {
    right: 10px;
}
.order_info .promo .coupon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd -moz-use-text-color #ddd #ddd;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: -2px 0 0 10px;
    padding: 0 8px;
    position: relative;
}
.order_info .promo .coupon:before {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAoCAYAAADkDTpVAAAA/0lEQVRIS+2XMQuEMAyFo4tQBJfi4ub//0uKiw4uLiKIVO8iVNTz0CM+h6MFcan5+l6T2HpZlk0EHB4cML0HQkCe53NY7zGAJaZpeougDwUOsPfVWXSaaTCL2ralruuI35tCk6bpMAzUNM0S2EpcKlkC4OBVVZExhnzfJ6XU/NzSKtbBgyCgKIo2+yPuRXVdz7YcBRcr4MAMYFu01oeZJVJgVx+G4eL5niIClGVJfd9THMdf60IEKIqCxnG8BuDV8EiS5LRK7QQ4AG4RfJPhacp7AS00BlxuFfBmJwFYJbB2vS4c2A/HnSou9yc7EXaq+GPAzyaffPDcDQd+CUQDXoPYj0QE5vc1AAAAAElFTkSuQmCC") no-repeat scroll 0 0 / 12px 20px rgba(0, 0, 0, 0);
    content: " ";
    height: 20px;
    position: absolute;
    right: -8px;
    top: -1px;
    width: 12px;
}
.order_info .promo .coupon em {
    color: #fc004d;
    margin-right: 1px;
}
.order_info .appointment span {
    padding-right: 30px;
}
.order_info .appointment em {
    display: block;
    margin-bottom: 5px;
    text-align: right;
}
.order_info .appointment em:last-child {
    margin-bottom: 0;
}
.order_info .message {
    padding: 10px;
}
.order_info .message textarea {
    border: 1px solid #e7e7e7;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 100%;
}
.order_info .return span {
    height: 16px;
    margin-right: 20px;
    overflow: hidden;
    padding-right: 0;
    text-align: right;
    width: 80%;
}
.order_info .return em {
    background-color: #e4393c;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    padding: 0 5px;
}
.total, .total_promo {
    background-color: #39312f;
    bottom: 0;
    color: #fff;
    font-size: 16px;
    height: 64px;
    left: 0;
    line-height: 64px;
    overflow: hidden;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    z-index: 300;
}
.total .btn_submit, .total_promo .btn_submit {
    background-color: #3884ff;
    border-radius: 2px;
    color: #fff;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 150px;
}
.total .btn_submit:active, .total_promo .btn_submit:active {
    background: none repeat scroll 0 0 #1864df;
}
.pay_type {
    padding: 3px 10px 15px;
    position: relative;
}
.pay_type li {
    line-height: 14px;
}
.one_pay h3:after {
    display: none;
}

.pay_area {
    padding: 0 10px 10px;
    text-align: center;
}
.pay_area .pay_text {
    margin: -10px 0 15px;
}
.pay_area .pay_text small {
    color: #999;
}
.pay_area .price {
    font-size: 16px;
    margin: 15px 0;
}
.pay_area .price strong {
    color: #e4393c;
}
.pay_area .action {
    padding-bottom: 10px;
    text-align: left;
}
.pay_area .action a {
    border-radius: 2px;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
}
.pay_area .action .btn_small {
    display: inline-block;
    width: 49%;
}
.pay_area .action .btn_small:first-child {
    margin-right: 0.5%;
}
.pay_area .action small {
    bottom: -15px;
    color: #e4393c;
    font-size: 10px;
    height: 10px;
    left: 0;
    line-height: 10px;
    position: absolute;
    right: 0;
    width: 100%;
}
.pay_area .action .qq em {
    font-size: 12px;
}
.pay_area .assure {
    display: none;
}
.delivery_tips {
    color: #999;
    margin: 10px 0;
    padding-left: 25px;
    position: relative;
    text-align: left;
}
.delivery_tips a {
    color: #3884ff;
    display: inline-block;
}
.delivery_tips:before {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAACH0lEQVRIS8WXMc8xQRDH/ycqEjS0GpVEwwcQtLQoRIdEoiNKlLQqtAq0tIgPQCNRabQ0SKhwj9nkLofXa28Jm2y3M7+Z2dmZWUm+LrxYl8sFi8WC7dVqhc1mg8PhwKTMZjPsdjucTifcbjfbBoPhlUpI/wMfj0eMRiNMJhPs9/uXyuiAxWKB3+9HMBiEyWR6KvMUPJ1O0e12sdvtuID3h6xWK2KxGHw+3z/lH8AU1l6vh/F4LAS8FwoEAohGow/hvwETtNVqYTabfQSqKPF6vUilUjfwGzB5OhwOPwpVlJHn8Xhc1a2C6U6bzSY3tNFosLOZTIZbJp1Oq3fOwJS95XJZVyKJgCnjK5UKy3YGHgwG6Pf73JbTQREwyUUiEYTDYUjn81kuFovc71SxThRMXlerVUjz+Vyu1+u6vH3HY5LN5XKQrkVCFslkUY8JHAqFINVqNXm5XH7VY5fLBSmfz8u8dVhr3Tse0z1L2WxWPp1OX/XYaDT+ECwaat0h0giwUIsm1ztgllyiz+kdMHtOogXkHTArICIl0+PxIJFIMHa73cbVeG471JIp0iSo1tpsNgbbbregWs+71CahtMVSqcTdKLRgKj6FQoGL+9AWSUrPIEChTiaToFFJT6gfBgHF3E6n87Eh7z4ET0cfOvizYU+Bf3281YaH7pxCL9K5SA8lEk2V3AO9Fv6TL4zWgPtP23q9BhlFiyZGh8Oh+9P2BwBfdiCzFaodAAAAAElFTkSuQmCC");
    background-size: 15px 15px;
    content: " ";
    display: block;
    height: 15px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 15px;
}

.wx_total {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc;
    border-image: none;
    border-style: dotted;
    border-width: 1px 0;
    color: #333;
    margin: 15px 10px;
    padding: 10px 0;
}
.wx_total .wx_total_tit {
    float: left;
}
.wx_total .wx_total_price {
    float: right;
    font-weight: 700;
    margin-top: -2px;
    text-align: right;
}
.wx_total .wx_total_price strong {
    color: #fc004d;
    font-size: 16px;
}
.wx_total .wx_total_price span {
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
}
.wx_btns {
    margin: 15px 0 0;
    padding: 0 10px;
}
.btn_common {
    background-color: #f3f3f3;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
    color: #333;
    display: block;
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}
.btn_common_submit {
    background-color: #3884ff;
    border-color: #3884ff;
    color: #fff;
}
.account_tips {
    background-color: #ffffe3;
    border: 1px solid #e3e3a6;
    color: #333;
    font-size: 12px;
    line-height: 18px;
    min-height: 36px;
    padding: 11px 15px;
    position: relative;
}
.account_tips .btn_close {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAGFBMVEXj46aqonXOy5SpoXTPzJS+uYbi4qW/uofWS8eNAAAAc0lEQVR42k3O0Q2AIAwE0IYwASwgI/jBAJ3BxA2MA5g4v7RcT/xB7tWzcm+CJ7/ylLhol7aDci2SKkgtBWUPQTozp4xpJ42eQQFOBCOC0Q+jarnoMjaquKFVc0N/CfIThGMSBjzjpxay1NKDv2tdLi6Szg/Ulg+LVGT1uwAAAABJRU5ErkJggg==") no-repeat scroll 50% 50% / 12px 12px #e3e3a6;
    color: rgba(0, 0, 0, 0);
    height: 22px;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
}
.account_tips .btn_bind {
    background-color: #f7f7f7;
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #dfdfdf 100%);
    border: 1px solid #9b9b9b;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 45px;
    text-align: center;
    top: 16px;
    width: 70px;
}
.account_tips .has {
    color: #999;
    margin: 10px 0 5px;
}
.account_tips .has a {
    color: #3b80e8;
}
.address_tips {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    box-shadow: 0 0 3px 3px rgba(150, 150, 150, 0.7);
    color: #fff;
    display: none;
    font-size: 16px;
    left: 50%;
    padding: 5px 10px;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


.code_bar {
    background: none repeat scroll 0 0 #f3f3f3;
    height: 40px;
    line-height: 26px;
    margin-bottom: 15px;
    padding: 10px 140px 10px 10px;
    position: relative;
}
.code_bar .code_text {
    border: 1px solid #ddd;
    height: 40px;
    padding: 0 5px;
    width: 100%;
}
.code_bar .code_img {
    border: 1px solid #ddd;
    display: block;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 110px;
}
.order_tip {
    border-bottom: 1px solid #cbcbcb;
    color: #666;
    display: block;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    margin: 15px 0;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}
.remain_tip {
    color: #39312f;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    margin: 15px 0;
    text-align: center;
}


.address_list_link .item {
    background: none repeat scroll 0 0 #efefef;
    border-bottom: 1px solid #cbcbcb;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    position: relative;
}
.address_list_link .item:after {
    background-position: -25px 0;
    content: "";
    display: block;
    height: 25px;
    margin-top: -12px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 25px;
}
.address_list_link .item.item_wx:after {
    background-position: -75px 0;
}




.wx_bar {
    display: none;
}
